@import url('https://fonts.googleapis.com/css?family=Cinzel');
.container-fluid {
  background-color: #DFC690;
}


* {
  font-family: Cinzel;
}
h1 {
  background-color: #A8946A;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  color: white;
}

