<div class="container">
  <div class="row">
    <div class="col-sm-1">
      <app-icone-personnage></app-icone-personnage>
    </div>
    <div class="col-sm-1">
      <app-icone-inventaire></app-icone-inventaire>
    </div>
    <div class="col-sm-7">
    </div>
    <div class="col-sm-1">
      <app-icone-profil></app-icone-profil>
    </div>
    <div class="col-sm-1">
      <app-icone-options></app-icone-options>
    </div>
    <div class="col-sm-1">
      <app-icone-quitter></app-icone-quitter>
    </div>
  </div>
</div>
