<div class="card bg-light mb-3">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <app-icone-personnage></app-icone-personnage>
        </div>
        <div class="col-sm-2">
          <app-icone-inventaire></app-icone-inventaire>
        </div>
        <div class="col-sm-6">
        </div>
        <div class="col-sm-1">
          <app-icone-options></app-icone-options>
        </div>
        <div class="col-sm-1">
          <app-icone-quitter></app-icone-quitter>
        </div>
      </div>
    </div>
  </div>
</div>
