<button class="btn btn-secondary" (click)="openModal(content)">Options</button>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Options</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="check1">
      <label class="form-check-label" for="check1">Musique (désactiver)</label>
      <br/>
      <p></p>
      <input type="checkbox" class="form-check-input" id="check2">
      <label class="form-check-label" for="check2">Bruitages (désactiver)</label>
    </div>
    <button type="submit" class="btn btn-secondary">Valider</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
