.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
@import url('https://fonts.googleapis.com/css?family=Cinzel');
* {
  font-family: Cinzel;
}
