<button class="btn btn-secondary"  (click)="openModal(content)">Profil</button>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Profil</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="card bg-light mb-3" style="width: 18rem;">
          <div class="card-header"><h5>Profil joueur</h5></div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Nom de l'utilisateur</h6>
            <p class="card-text">Information de l'utilisateur</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="width: 10rem;">
          <img class="card-img-top" src="../assets/images/iconeProfil.png" alt="Card image cap">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
