<form [formGroup]="lefORMgroup">
    <div class="form-group">
      <label for="emailInput">Email address</label>
      <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
    </div>
  <div class="form-group">
    <label for="NameInput">Name</label>
    <input type="name" class="form-control" id="NameInput" placeholder="ieiko">
  </div>
  <div>
    <label for="passwordInput">Password</label>
    <input type="password" class="form-control" id="passwordInput" placeholder="pass">
  </div>
  <div><button type="button" class="btn btn-primary btn-sm">Save change</button></div>
</form>
