
<div *ngIf="!routeForm.valid && formSubmitted">
  <div class="route">
    <div *ngIf="routeForm.controls['scene'].hasError('required')"></div>
  </div>
  <div class="scenario">

  </div>
</div>
<div class="scenForm">
  <form [formGroup] = "routeForm" (ngSubmit)="submitForm()">
    <h3>{{scenario.titre}}</h3>
    <div class="form-group">
      <label for="titres">Titre :</label>
      <input type="text" class="form-control col-4" id="titres" formControlName="titre">
    </div>
    <div class="form-group">
      <label for="scenes">Scene :</label>
      <textarea class="form-control" id="scenes" formControlName="scene" cols="12" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save Change</button>
  </form>
</div>
<div class="scenForm">
  <app-route-list (route)="addRouteToCurrentScene($event)"></app-route-list><app-item-liste></app-item-liste>
</div>

