
  <div class="col-8">
    <ngb-tabset>
      <ngb-tab title="Profil">
        <ng-template ngbTabContent>
          <app-profil></app-profil>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Scénario">
        <ng-template ngbTabContent>
          <p>Because default values have been customized.</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Partie">
        <ng-template ngbTabContent>
          <p>en cours</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>


