
  <!--<div class="col-12">-->
    <!--<ngb-tabset>-->
      <!--<ngb-tab title="Profil">-->
        <!--<ng-template ngbTabContent>-->
          <!--<app-profil></app-profil>-->
        <!--</ng-template>-->
      <!--</ngb-tab>-->
      <!--<ngb-tab title="Scénario">-->
        <!--<ng-template ngbTabContent>-->
          <!--<app-scenario></app-scenario>-->
        <!--</ng-template>-->
      <!--</ngb-tab>-->
      <!--<ngb-tab title="Nouvelle partie">-->
        <!--<ng-template ngbTabContent>-->
          <!--<app-personnage></app-personnage>-->
        <!--</ng-template>-->
      <!--</ngb-tab>-->
      <!--<ngb-tab title="Charger Partie">-->
        <!--<ng-template ngbTabContent>-->
          <!--<app-list-parties></app-list-parties>-->
        <!--</ng-template>-->
      <!--</ngb-tab>-->
      <!--<ngb-tab title="Editer personnage">-->
        <!--<ng-template ngbTabContent>-->
          <!--<app-list-personnage></app-list-personnage>-->
        <!--</ng-template>-->
      <!--</ngb-tab>-->
    <!--</ngb-tabset>-->
  <!--</div>-->


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="connexion">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="profil">Profil</a>
        <a class="nav-item nav-link" routerLink="scenario">Scénario</a>
        <a class="nav-item nav-link disabled" routerLink="newgame">Nouvelle partie</a>
        <a class="nav-item nav-link disabled" routerLink="loadgame">Charger partie</a>
        <a class="nav-item nav-link disabled" routerLink="editperso">Editer personnage</a>
      </div>
    </div>
  </nav>
