<div class="container-fluid">
  <h1>Nouvelle partie</h1>
  <ngb-alert *ngIf="alert" [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
  <div class="buttonTheme" (click)="showFormPerso()">
    <div class="buttonAdd">
      <img src="../../assets/themeImages/bouton.svg" />
    </div>
    <div class="buttonAddRight">
      <span>Nouveau personnage</span>
    </div>
  </div>
  <div *ngIf="isCreatingPerso" id="creerPerso" class="containerPerso">
    <form [formGroup]="personnageForm" (ngSubmit)="submitForm()">
      <div class="row">
        <label for="inputName" class="col-md-1">Nom :</label>
        <input type="text" class="form-control col-md-4" id="inputName" aria-describedby="nameHelp"
               formControlName="name" placeholder="Enter name">
        <div *ngIf="personnageForm.controls['name'].invalid && (personnageForm.controls['name'].dirty || personnageForm.controls['name'].touched)"
             class="alert alert-danger col-md-4">
          <div >
            Enter valid name.
          </div>
        </div>
      </div>
      <div class="row">
        <label for="inputImage" class="col-md-1">Avatar :</label>
        <input type="file" (change)="onFileChanged($event)" class="form-control-file col-md-4" id="inputImage"
               formControlName="image">
        <div *ngIf="selectedFile" class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
               aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
            {{progress.percentage}}%</div>
        </div>
        <button class="btn btn-success" [disabled]="!selectedFile" (click)="onUpload()">Upload</button>
      </div>
      <div class="row">
        <label for="inputSelect" class="col-md-1">Classe :</label>
        <select id="inputSelect" class="form-control col-md-4" formControlName="job">
          <option *ngFor="let key of keys" [value]="key" [label]="jobEnum[key]"></option>
        </select>
        <div *ngIf="personnageForm.controls['job'].invalid && (personnageForm.controls['job'].dirty || personnageForm.controls['job'].touched)"
             class="alert alert-danger">
          <div >
            Select a job.
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Creer</button>
    </form>
  </div>
  <h3>Choisir personnage</h3>
  <div *ngIf="persos !== []" id="choisirPerso" class="containerPerso">
    <div *ngFor="let p of persos" (click)="selectPerso($event, p)" class="card persoCard" style="width: 9rem;">
      <img *ngIf="p.image !== ''" class="card-img-top persoAvatar" src="{{this.imagesPath + p.image}}" alt="Card image cap">
      <img class="cadrePerso" src="../../assets/themeImages/cadrePerso.svg" />
      <img *ngIf="p.image === ''" class="card-img-top persoAvatar" src="../../assets/images/default.svg" alt="Card image cap">
      <div class="card-body persoDescription">
        <small>Nom :</small>
        <p class="card-text">{{p.name}}</p>
        <small>Classe :</small>
        <p class="card-text">{{p.job}}</p>
      </div>
    </div>
  </div>
  <h3>Choisir scenario</h3>
  <div *ngIf="scenarios !== []" id="choisirScenario" class="containerPerso">
    <div *ngFor="let s of scenarios" (click)="selectScenario($event, s)" class="card scenarioCard" style="width: 9rem;">
      <img class="card-img-top persoAvatar" src="../../assets/images/default.svg" alt="Card image cap">
      <div class="card-body persoDescription">
        <p class="card-text">{{s.titre}}</p>
      </div>
    </div>
  </div>
  <div class="buttonThemeLaunch" (click)="lancerPartie()">
    <div class="buttonAddLauch">
      <img src="../../assets/themeImages/lauchButton.svg" />
    </div>
    <div class="buttonAddRightLauch">
      <span>Créer partie</span>
    </div>
  </div>
</div>
